.container .logo{
    width: 400px;
    height: 100px;
}
.container .card-title1{
    color: brown;
}
.learn{
    color: chartreuse;
}
.container .buy{
    background: #21B573;
    border-radius: 33px;
    color: aliceblue;  
}
.pad{
    padding: 60px;
}
.container{
    margin-top: 100px;
}
.on{
 text-align: center;
}
.row{
    text-align: center;
}
.to{
    text-align: left;
}
.body{
    background: #282531;
    width: 1225px;
    height: 250px; 
    right: 100px;  
}
.me{
    color: floralwhite;
    width: 366px;
    height: 60px;
}
.jibon{
    color: floralwhite;
    left: 10px;
}
.card{
    background: #ffffff;
    box-shadow: 0px 20px 40px rgba( 0, 0, 0 0.1);
    border-radius: 10px;
}